.footer {
    background-color: darkcyan;
    color: white;
    height: 25px;
    left: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
}

.footer__text{
    float: right;
    padding-top: 6px;
    padding-right: 8px;
}
