:host {
  display: block;
  margin-top: 4rem;
}
.main {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 15px -6px #000000;
  box-shadow: 5px 5px 15px -6px #000000;

  .main-title {
    align-self: flex-start;
    min-height: 2rem;
    border-bottom: 1px solid;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(133, 190, 171);
    span {
      padding-left: 0.6563rem;
    }
  }
  .main-filter {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .main-filter__buttons {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      button {
        margin-top: 0.5rem;
      }
    }
  }
}
