:host {
  width: 100%;
}

table {
  width: 100%;
  display: block;
  overflow: auto;
}

.mat-row:hover {
  background-color: rgb(139, 212, 255);
  cursor: pointer;
}

.mat-table {
  border-spacing: 2px;
}

th.mat-header-cell {
  text-align: center;
  background-color: lightseagreen;
  font-size: smaller;
  padding: 0px;
}

.mat-row:nth-child(even) {
  background: lightgray;
  &:hover{
    background-color: rgb(139, 212, 255);

  }
}

td.mat-cell{
  border: none;
  width: 100%;
  text-align: center;
  min-width: 200px;
}



.mat-elevation-z8 ::ng-deep {
  overflow-x: auto;

}

