<table mat-table [dataSource]="dataSource" matSort class="ca-table">
  <ng-container
    [matColumnDef]="el.element"
    *ngFor="let el of dataHeader; let i = index; let first = first"
  >
    <th
      mat-header-cell
      mat-sort-header
      mwlResizable
      [enableGhostResize]="true"
      (resizeEnd)="onResizeEnd($event, el.element)"
      [resizeEdges]="{ bottom: false, right: true, top: false, left: true }"
      *matHeaderCellDef
      class="ca-table__header"
    >
      <div class="ca-table__header-container justify-content-start">
        <span class="ca-table__header-wrapper">
          <span
            class="ca-table__header-text"
            [ngClass]="{ 'title-padding': !first }"
            >{{ el.title }}</span
          >
        </span>
      </div>
    </th>

    <td mat-cell *matCellDef="let element" class="ca-table__cell">
      <ng-container
        *ngIf="!el.isCheck; else checkboxTemp"
        class="ca-table__cell-container"
        -
      >
        <span class="ca-table__cell-text">
          {{ element[el.element] }}
        </span>
      </ng-container>
      <ng-template #checkboxTemp>
        <input
          type="checkbox"
          [disabled]="true"
          [checked]="element[el.element]"
      /></ng-template>
    </td>
  </ng-container>

  <thead class="ca-table__thead">
    <tr
      mat-header-row
      class="ca-table__row ca-table__row--bordered ca-table__row--clean"
      *matHeaderRowDef="displayedColumns"
    ></tr>
  </thead>
  <tbody class="ca-table__tbody">
    <tr
      mat-row
      class="ca-table__row"
      matRipple
      id="row-{{ index }}"
      [ngClass]="{ 'odd-color': odd, selected: selection.isSelected(row) }"
      (click)="selectTableRow(row)"
      *matRowDef="
        let row;
        let odd = odd;
        columns: displayedColumns;
        let index = index
      "
    ></tr>
  </tbody>
</table>

<!--FILTROOOOO-->
<app-filter
  ><form [formGroup]="form" form>
    <div class="form__selects">
      <label matLabel>Compañia:</label>
      <select [formControlName]="'company'">
        <option [ngValue]="item.name" *ngFor="let item of companyOptions">
          {{ item.name }}
        </option>
      </select>
      <label matLabel>Tipo de envío:</label>
      <select [formControlName]="'sendType'">
        <option [ngValue]="item.name" *ngFor="let item of sendTypeOptions">
          {{ item.name }}
        </option>
      </select>
    </div>
    <div class="form__radio">
      <div class="group-gap">
        <div class="d-block my-3 label-margin">
          <div
            *ngFor="let option of checkboxObject[0].options"
            class="custom-control custom-radio"
          >
            <label class="custom-control-label-radio">{{ option.label }}</label>
          </div>
        </div>
      </div>
      <div
        *ngFor="let item of checkboxObject; let first = first"
        class="group-gap"
      >
        <span class="item-label">{{ item.name }}</span>
        <div class="d-block my-3">
          <div
            *ngFor="let option of item.options"
            class="custom-control custom-radio"
          >
            <input
              attr.id="{{ option.label }}-{{ item.formControl }}"
              type="radio"
              class="custom-control-input"
              attr.value="{{ option.label }}"
              attr.name="{{ item.name }}"
              attr.formControlName="{{ item.formControl }}"
            />
          </div>
        </div>
      </div>
    </div></form
></app-filter>
