<app-filter>
    <div class="search-form-field">
        <span>Codigo: </span>
        <mat-form-field class="search-form-field-content">
            <mat-label></mat-label>
            <input matInput [(ngModel)]="searchKey" placeholder="">
        </mat-form-field>
        <mat-radio-group name="filter" [(ngModel)]="selectedOption">
            <mat-radio-button *ngFor="let op of notificationType" name="filter" [value]="op"  style="margin: 10px">
              {{op}}
            </mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button color="accent" (click)="applyFilter()"><mat-icon aria-hidden="false">search</mat-icon><span> Buscar</span></button>
        <button mat-raised-button color="primary" (click)="cleanFilter()"><mat-icon aria-hidden="false">delete_sweep</mat-icon><span> Limpiar</span></button>
    </div>
 </app-filter>
<app-table [dataTable]="dataSource" [displayedColumns]="displayedColumns" [dataHeader]="dataHeader"></app-table>