<ng-template class="table-container" #tableRCF [ngIf]="entities">
    <table mat-table matSort class="mat-elevation-z8" [dataSource]="entities" (matSortChange)="sortData($event)">
        <ng-container *ngFor="let key of columns" [matColumnDef]="key.tag">
            <ng-container *ngIf="key.tag !== 'DGRN'">
                <th mat-header-cell mat-sort-header="{{key.tag}}" *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, key.tag)" [resizeEdges]="{bottom: false, right: true, top: false, left: true}">{{key.title}}</th>
                <td mat-cell *matCellDef="let element"> {{element[key.tag]}}</td>
            </ng-container>
            <!-- Checkbox Column -->
            <ng-container *ngIf="key.tag === 'DGRN'">
                <th mat-header-cell mat-sort-header *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, key.tag)" [resizeEdges]="{bottom: false, right: true, top: false, left: true}">
                    {{key.title}}
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ?  selection.toggle(element) : null" [checked]="element.DGRN">
                    </mat-checkbox>
                </td>
            </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row matRipple id="row-{{index}}" *matRowDef="let row; columns: displayedColumns;let index = index;" (click)="selection.toggle(row)" [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
        </tr>
    </table>
</ng-template>